.beer-status-card {
  min-height: 100%;

  &__body {

    &__title {}

    &__subtitle {
    }

    &__adequate-temperature {
      font-size: smaller;
    }

    &__temperature {
      font-size: 38px;
    }

    &__details-btn {
      align-self: flex-end;
      margin-top: auto
    }

  }

}