@import '../../../_assets/styles/variables';

.notification-toast {
  background: $info;
  border-radius: 2px;
  box-shadow: $box-shadow;
  color: white;
  margin-bottom: 10px;
  padding: 10px;

  &__subtitle {
    font-size: smaller;
    margin-bottom: 0 !important;
    text-align: right;
    opacity: 0.7;
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}