@import '../../../_assets/styles/variables';

.beer-temperature {

  &__text,
  &__icon {
    &__adequate {
      color: $gray-dark;
    }

    &__low {
      color: $cyan;
    }

    &__high {
      color: $red;
    }
  }

  &__text {
    font-weight: bold;
  }

  &__icon {
    opacity: 0.1;
    position: absolute;
    right: 15px;
    top: -7.5px;
  }

}